@import '~bootstrap';

body {
    background-color: #111110 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 2px solid white;
            color: white;
        }
    }

    button {
        color: white;
        text-decoration: none;
        background-color: transparent;
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 2px solid white;
            color: white;
        }
    }

    p {
        color: white;
    }
}

header {
    h1 {
        font-size: 5em;
        color: white;
    }

    h6 {
        color: white;
    }

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("http://127.0.0.1:8000/storage/hero-image.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .container {
        height: 85%;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;

        h1,
        h6 {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: white;
            background-color: #4a8699;

            &:hover {
                background-color: #1584a7;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .program-card {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
        transition: 0.3s;
        width: 45%;
        border: 1px solid transparent;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
        }
    }

    h2,
    h4 {
        margin: 0;
        padding: 0;
    }

    button {
        text-decoration: none;
        border: none;
        color: white;
        background-color: #4a8699;

        &:hover {
            background-color: #1584a7;
        }
    }

    .text {
        color: white;
        text-align: center;
        width: 50%;
        padding-top: 100px;
    }

    select {
        padding: 2px;
    }
}

.login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("http://127.0.0.1:8000/storage/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1 {
        color: white;
    }

    .login-main {
        display: flex;
        flex-direction: column;
        background-color: grey;
        border-radius: 10px;

        form {
            display: flex;
            flex-direction: column;

            .input-item {
                margin-bottom: 10px;
                border: none;
                text-decoration: none;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
        background-color: #4a8699;
        text-align: center;

        &:hover {
            background-color: #1584a7;
            color: white;
        }
    }

    .login-button {
        text-decoration: none;
        color: white;
        background-color: #4a8699;
        text-align: center;
        border: 1px solid #4a8699;

        &:hover {
            background-color: #1584a7;
            color: white;
        }
    }
}
